## Step1 : Preprocessing

In [4]:
# Import our dependencies
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from pathlib import Path
import pandas as pd

In [5]:


#  Import and read the charity_data.csv.

application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#application_df.drop('EIN', axis=1)
application_df1 = application_df.drop('NAME', axis=1)
application_df2 = application_df1.drop('EIN', axis=1)
application_df2.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Determine the number of unique values in each column.

application_df2.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_df2["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_type_cutoff_value = 528
application_types_to_replace = []
for idx,name in enumerate(application_df2["APPLICATION_TYPE"].value_counts().index.tolist()):
    if application_df2["APPLICATION_TYPE"].value_counts()[idx] < application_type_cutoff_value:
         application_types_to_replace.append(name)
# Replace in dataframe
for app in application_types_to_replace:
    application_df2['APPLICATION_TYPE'] = application_df2['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df2['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
application_df2["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_vc = application_df2["CLASSIFICATION"].value_counts()
classification_vc[classification_vc > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = []
classifications_cutoff_value = 1883
for idx,name in enumerate(application_df2["CLASSIFICATION"].value_counts().index.tolist()):
    if application_df2["CLASSIFICATION"].value_counts()[idx] < classifications_cutoff_value:
         classifications_to_replace.append(name)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df2['CLASSIFICATION'] = application_df2['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
data=pd.get_dummies(application_df2)
data

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [21]:
# Split our preprocessed data into our features and target arrays
y = data['IS_SUCCESSFUL'].values
X = data.drop(['IS_SUCCESSFUL'], axis = 1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [22]:
# Create a StandardScaler instances
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Step 2 : Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
start = len(X_train[0])

h1 = 80
h2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=start, units=h1, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=h2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 80)                3520
_________________________________________________________________
dense_4 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 31
=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50)

2021-11-17 17:18:05.502508: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)

Epoch 1/50
804/804 [==============================] - 1s 766us/step - loss: 23174.8557 - accuracy: 0.4877
Epoch 2/50
804/804 [==============================] - 1s 732us/step - loss: 43331.9588 - accuracy: 0.4903
Epoch 3/50
804/804 [==============================] - 1s 722us/step - loss: 60205.0265 - accuracy: 0.4826
Epoch 4/50
804/804 [==============================] - 1s 715us/step - loss: 48605.0554 - accuracy: 0.5173
Epoch 5/50
804/804 [==============================] - 1s 774us/step - loss: 10072.3119 - accuracy: 0.5017
Epoch 6/50
804/804 [==============================] - 1s 934us/step - loss: 25908.0550 - accuracy: 0.4931
Epoch 7/50
804/804 [==============================] - 1s 781us/step - loss: 6388.8886 - accuracy: 0.5275
Epoch 8/50
804/804 [==============================] - 1s 804us/step - loss: 46572.0049 - accuracy: 0.5032
Epoch 9/50
804/804 [==============================] - 1s 734us/step - loss: 2756.6246 - accuracy: 0.5378
Epoch 10/50
804/804 [==============================] - 1s 739us/step - loss: 11716.3419 - accuracy: 0.5168
Epoch 11/50
804/804 [==============================] - 1s 757us/step - loss: 12079.1044 - accuracy: 0.4928
Epoch 12/50
804/804 [==============================] - 1s 752us/step - loss: 2037.6867 - accuracy: 0.5188
Epoch 13/50
804/804 [==============================] - 1s 765us/step - loss: 3877.0835 - accuracy: 0.5250
Epoch 14/50
804/804 [==============================] - 1s 982us/step - loss: 3403.3370 - accuracy: 0.5199
Epoch 15/50
804/804 [==============================] - 1s 952us/step - loss: 4638.4112 - accuracy: 0.5002
Epoch 16/50
804/804 [==============================] - 1s 849us/step - loss: 4008.7100 - accuracy: 0.5088
Epoch 17/50
804/804 [==============================] - 1s 857us/step - loss: 3790.3005 - accuracy: 0.5051
Epoch 18/50
804/804 [==============================] - 1s 928us/step - loss: 1137.4021 - accuracy: 0.4985
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 500.1461 - accuracy: 0.5174
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 200.3408 - accuracy: 0.5140
Epoch 21/50
804/804 [==============================] - 1s 864us/step - loss: 268.8717 - accuracy: 0.4981
Epoch 22/50
804/804 [==============================] - 1s 898us/step - loss: 0.6788 - accuracy: 0.5294
Epoch 23/50
804/804 [==============================] - 1s 930us/step - loss: 0.6766 - accuracy: 0.5301
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6577 - accuracy: 0.5834
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6374 - accuracy: 0.6352
Epoch 26/50
804/804 [==============================] - 1s 959us/step - loss: 0.6378 - accuracy: 0.6326
Epoch 27/50
804/804 [==============================] - 1s 927us/step - loss: 0.6368 - accuracy: 0.6373
Epoch 28/50
804/804 [==============================] - 1s 969us/step - loss: 0.6310 - accuracy: 0.6549
Epoch 29/50
804/804 [==============================] - 1s 977us/step - loss: 0.6262 - accuracy: 0.6653
Epoch 30/50
804/804 [==============================] - 1s 951us/step - loss: 0.8028 - accuracy: 0.5924
Epoch 31/50
804/804 [==============================] - 1s 983us/step - loss: 0.6916 - accuracy: 0.5293
Epoch 32/50
804/804 [==============================] - 1s 989us/step - loss: 0.6917 - accuracy: 0.5272
Epoch 33/50
804/804 [==============================] - 1s 994us/step - loss: 0.6910 - accuracy: 0.5332
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5313
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5310
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6920 - accuracy: 0.5256
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6916 - accuracy: 0.5285
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6917 - accuracy: 0.5275
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5315
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5296
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5302
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5298
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6916 - accuracy: 0.5289
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6917 - accuracy: 0.5278
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6915 - accuracy: 0.5294
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6917 - accuracy: 0.5275
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6916 - accuracy: 0.5289
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5306

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 1.0219 - accuracy: 0.6407
Loss: 1.0218541622161865, Accuracy: 0.6406996846199036

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")